{% extends 'base.html.twig' %}

{% block titre %} Gestion des clubs {% endblock %}

{% block body %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">

                        <div class="page-header card">
                            <div class="card-block">
                                <h5 class="m-b-10">Gestion des clubs
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                    <span>
                                              <button  class="btn btn-success" ><a href={{ path("create") }}> <i class="icofont icofont-plus"></i>Ajouter</a></button>

                                            </span>


                                </h5>
                                <ul class="breadcrumb-title b-t-default p-t-10">
                                    <li class="breadcrumb-item">
                                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Gestion des clubs</a>
                                    </li>

                                </ul>
                            </div>
                        </div>





                        <div class="card">
                            <div class="card-header">
                                <h5> Liste des clubs  </h5>
                                <form method="POST">
<input type="text" name="nom">
                                <input type="submit" name="recherche">
                                </form>
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa-chevron-left"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-times close-card"></i></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>NOM DU CLUB</th>
                                            <th>DATECREATION</th>
                                            <th>LOGO</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for club in clubs %}
                                        <tr>

                                            <td>{{ club.id }}</td>
                                            <td>{{ club.nom }}</td>
                                            <td>{{ club.dateCreation|date}}</td>
                                            <td><img src="{{asset('images/'~club.nomImage)}}" style="width: 100px;height: 100px" ></td>
                                            <td>
                                                <a href="{{ path("update",{"id":club.id}) }}" onClick="javascript:popUp('')"><i class="fa fa-edit" style="font-size:18px"></i></i></a>
                                                <a href="#" onClick="javascript:popUp('')"><i class="fa fa-eye" style="font-size:18px"></i></i></a>
                                                <a href="{{ path("delete",{"id":club.id}) }}"><i class="fa fa-trash" style="font-size:18px"></i></i></a>

                                            </td>

                                            {% endfor %}


                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>






                    </div>

                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}