{% extends 'base.html.twig' %}
{% block titre %} Gestion des clients {% endblock %}

{% block body %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-body">
                        <div class="page-header card">
                            <div class="card-block">
                                <h5 class="m-b-10">Gestion des comptes client
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                    &emsp;&emsp;&emsp;
                                    <span>
                                              <button  class="btn btn-success" >
                                                   <a href="{{ path('fos_user_registration_register') }}">
                                                       <i class="icofont icofont-plus"></i>Ajouter</a></button>
                                            </span>

                                    <hr>
                                    <span>
               <input class="form-control" id="myInput" type="text" placeholder="Rechercher..">

                                    </span>
                                </h5>
                                <ul class="breadcrumb-title b-t-default p-t-10">
                                    <li class="breadcrumb-item">
                                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Gestion des comptes</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Comptes client</a>
                                    </li>

                                </ul>
                            </div>
                        </div>





                        <div class="card">
                            <div class="card-header">
                                <h5>Listes des clients</h5>

                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa-chevron-left"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-times close-card"></i></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Nom d'utilisateur</th>
                                            <th>E-Mail</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="myTable">
                                        {% for client in clients %}
                                        <tr>
                                            <th scope="row">{{ client.id }}</th>
                                            <td>{{ client.nom }}</td>
                                            <td>{{ client.prenom }}</td>
                                            <td>{{ client.username }}</td>
                                            <td>{{ client.email }}</td>
                                            <td>
                                                <a href="#" onClick="javascript:popUp('')"><i class="fa fa-edit" style="font-size:18px"></i></i></a>
                                                <a href="#" onClick="javascript:popUp('')"><i class="fa fa-eye" style="font-size:18px"></i></i></a>
                                                <a href="#"><i class="fa fa-trash" style="font-size:18px"></i></i></a>

                                            </td>
                                        </tr>

{% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}