{% extends 'front_base.html.twig' %}

{% block body %}

    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="blog">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Detail Produit</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('category') }}">Nos Produit</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detail Produit</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->

    {% block panier %}{{ articles }}{% endblock %}

    <!--================Single Product Area =================-->
    <div class="product_image_area">

        <div class="container">
            <div class="row s_product_inner">


                <div class="col-lg-6">

                        <div class="single-prd-item">



                            <img class="img-fluid" src="{{ asset('front_template/img/category/' ~ produit.image) }}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">

                    <div class="s_product_text">
                    
                        <h3>{{ produit.nom }}</h3>
                        <h2>{{ produit.prix }}</h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Category</span> : {{ produit.categorie.nom }} </a></li>
                            {% if produit.quantite != 0 %}
                            <li><a href="#"><span>Disponibilité</span> : En Stock</a></li>
                            {% else %}
                                <li><a href="#"><span>Disponibilité </span> : En Rupture de Stock</a></li>
                            {% endif %}
                        </ul>
                        <p>{{ produit.description }}</p>

                         <label>Quantite:</label>
                        <form action="{{ path("ajouterpanier",{'id':produit.id}) }}" method="get">
                            <select name="quantite" class="span4">
                            {% for i in 1..(produit.quantite) %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select><br><br>

                            <div class="row">


                                <div class="social">


                                        <button href="" style=" background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
                                        <i class="fa fa-lg fa-facebook"></i>
                                        </button>

                                        <button class="button share_twitter" data-url="https://www.youtube.com/" style=" background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
                                            <i class="fa fa-lg fa-twitter"></i>
                                        </button >

                                        <button class="button share_gplus" data-url="https://www.youtube.com/" style=" background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;">
                                       <a href="#"><i class="fa fa-lg fa-google-plus"></i></a>
                                        </button>


                                </div>
                            </div><br><br>
                            {% if panier[produit.id] is not defined %}

                            <div>
                                <button class="button primary-btn">Ajouter au panier</button><br><br><br>
                            </div>
                        </form>
                            {% else %}


                                <div>
                                    <a href="{{ path ('panier') }}" class="button primary-btn">Ce produit existe déja dans votre panier</a>
                                </div>

{% endif %}


                        </div>
                </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
<script>
    (function(){

        var popupCenter = function(url, title, width, height){
            var popupWidth = width || 640;
            var popupHeight = height || 320;
            var windowLeft = window.screenLeft || window.screenX;
            var windowTop = window.screenTop || window.screenY;
            var windowWidth = window.innerWidth || document.documentElement.clientWidth;
            var windowHeight = window.innerHeight || document.documentElement.clientHeight;
            var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2 ;
            var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
            var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
            popup.focus();
            return true;
        };

        document.querySelector('.share_twitter').addEventListener('click', function(e){
            e.preventDefault();
            var url = this.getAttribute('data-url');
            var shareUrl = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(document.title) +
                "&via=Grafikart_fr" +
                "&url=" + encodeURIComponent(url);
            popupCenter(shareUrl, "Partager sur Twitter");
        });

        document.querySelector('.share_facebook').addEventListener('click', function(e){
            e.preventDefault();
            var url = this.getAttribute('data-url');
            var shareUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url);
            popupCenter(shareUrl, "Partager sur facebook");
        });

        document.querySelector('.share_gplus').addEventListener('click', function(e){
            e.preventDefault();
            var url = this.getAttribute('data-url');
            var shareUrl = "https://plus.google.com/share?url=" + encodeURIComponent(url);
            popupCenter(shareUrl, "Partager sur Google+");
        });

        document.querySelector('.share_linkedin').addEventListener('click', function(e){
            e.preventDefault();
            var url = this.getAttribute('data-url');
            var shareUrl = "https://www.linkedin.com/shareArticle?url=" + encodeURIComponent(url);
            popupCenter(shareUrl, "Partager sur Linkedin");
        });

    })();
</script>
    <!--================End Single Product Area =================-->
{% endblock %}
