{% extends 'base.html.twig' %}
{% block titre %} Paiement {% endblock %}

{% block body %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <h5 class="m-b-10">Paiement</h5>

                    Total price:  {{ commande.amount }}DT

{{ form_start(form) }}
    {{ form_widget(form) }}
<input type="submit" value="Payer {{ commande.amount }}DT" />
{{ form_end(form) }}
                </div></div></div></div></div>
{% endblock %}